<h2>Add a new celebrity:</h2>
<form method="post" action="/celebrities/create">
  <label for="name">Name</label>
  <input name="name" type="text" />
  <label for="occupation">Occupation</label>
  <input name="occupation" type="text" />
  <label for="catchPhrase">Catch phrase</label>
  <input name="catchPhrase" type="text" />
  <button type="submit">Add </button>
</form>